@font-face {
    font-family: 'Retroscape';
    src: url('Retroscape.woff2') format('woff2'),
        url('Retroscape.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

