/* small reset */

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 24px;

}

/* fonts */

@font-face {
    font-family: 'Gondola SD - Swash';
    src: url('fonts/gondola/GondolaSD-Swash.woff2') format('woff2'),
        url('fonts/gondola/GondolaSD-Swash.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Retroscape';
    src: url('fonts/retroscape/Retroscape.woff2') format('woff2'),
        url('fonts/retroscape/Retroscape.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roman SD';
    src: url('fonts/roman/RomanSD.woff2') format('woff2'),
        url('fonts/roman/RomanSD.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* fonts */

/* imgs*/

body {
    display: flex;
    width: 100vw;
}


.logo-text {
    font-family: 'Gondola SD - Swash';
    font-size: 3rem;
    color: whitesmoke;
    padding-top: 1.6rem;

}


.card-container {
    flex: 2;
    display: flex;
    background-color: rgb(66, 66, 66, 0.1);
    gap: 1rem;
    border: 1px solid black;
    

    position: absolute;
    top: 7rem;
    left: 2rem;
}

.image-wrapper {
    position: relative;
}

.trans-img {
    width: 6rem;
    height: 6rem;
}

/* main form content*/

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 3;
    padding-left: 2rem;
}

.form-flexed {
    border: 1px solid rgb(224, 22, 33);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60vw;
    height: 10rem;
}
.left-form, .right-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    gap: 0.25rem;
    padding: 0.2rem;
    border: 3px dotted rgb(139, 5, 5);
    height: 100%;
    width: 100%;
}

.right-form {
    padding-top: 1.6rem;
}

input {
    width: 20vw;
}

.btn {
    border-radius: 20ch;
}

.ok {
    padding: 0 1rem;
}

/* middle section styles */

label {
    color: rgb(107, 111, 117);
    font-family: 'Retroscape';
    font-size: 0.4rem;
}