/* small reset */

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 24px;

}

/* fonts */

@font-face {
    font-family: 'Gondola SD - Swash';
    src: url('fonts/gondola/GondolaSD-Swash.woff2') format('woff2'),
        url('fonts/gondola/GondolaSD-Swash.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Retroscape';
    src: url('fonts/retroscape/Retroscape.woff2') format('woff2'),
        url('fonts/retroscape/Retroscape.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roman SD';
    src: url('fonts/roman/RomanSD.woff2') format('woff2'),
        url('fonts/roman/RomanSD.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* fonts */

/* imgs*/

body {
    display: flex;
    width: 100vw;
    height: 100vh;
}


.logo-text {
    font-family: 'Gondola SD - Swash';
    font-size: 3rem;
    color: whitesmoke;
    padding-top: 1.6rem;

}


.card-container {
    display: flex;
    /*border: 1px solid black;*/
    /*flex-wrap: wrap;*/
    align-items: center;
    justify-content: center;
    gap: 1rem;
    

    position: absolute;
    top: 7rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);

}

.logo-text{
    margin-top: auto;
}

.sidebar {
    flex: 2;
    position: relative;
    /*height: 100vh;*/
    background-image: url('imgs/gary-scott-milky-way-from-yosemite-unsplash.avif');
}

.photo-contribution {

    color: whitesmoke;
    font-size: 0.66rem;
    position: absolute;
    bottom: 1rem;
    left: 14vw;
}
.copyright {
    color: inherit;
    font-size: inherit;
}
.trans-img {
    width: 6rem;
    height: 6rem;
}

/* main form content*/

.login-content,.text-content,.left-form {
    padding-left: 4rem;
}

.text-content {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 550;
    margin-right: 15rem;
    
}
p {
    line-height: 32px;
    margin-bottom: 1rem;
}
p.signup-text {
    margin-top: -1rem;
}


.main-content {
    display: flex;
    flex: 3;
    flex-direction: column;

    justify-content: center;
    align-items: baseline;

    /*padding-left: 4rem;*/
    /*height: 100vh;*/
    border: 1px solid black;

}

.form-flexed {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60vw;
    height: 10rem;

    box-shadow: 5px 5px 19px 1px rgba(49, 207, 168, 0.2);
}
.left-form, .right-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    gap: 0.25rem;
}

.right-form {
    padding-top: 1.4rem;
    margin-left: -20rem;
}

input {
    width: 11rem;
    border: 2px solid #000;
    border-radius: 5px;
    text-indent: 0.5rem;
    font-family:Arial, Helvetica, sans-serif;
    padding: 6px;
    font-size: medium;
}

input:invalid {
    border-color: #ec6481;
}
input:valid {
    border-color: #2b9672;
}

input:not(:placeholder-shown):invalid {
    border-color: #ec6481;
}
input:not(:placeholder-shown):valid {
  border-color: #2b9672;
}

.btn {
    border-radius: 20ch;
    background-color: #2b9672;
    padding: 0.12rem 1.25rem;
    color: whitesmoke;
    margin-bottom: 1rem;
}

a {
    color: #2b9672;
    text-decoration: none;
    font-weight: 700;
}
.login-content {
    padding-top: 1.5rem;
}
/* middle section styles */

label {
    color: rgb(107, 111, 117);
    font-family: 'Retroscape';
    font-size: 0.4rem;
}