*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 24px;
    background-color: rgb(175, 221, 211);
}

/* font test will delete */

@font-face {
    font-family: 'Gondola SD - Swash';
    src: url('fonts/gondola/GondolaSD-Swash.woff2') format('woff2'),
        url('fonts/gondola/GondolaSD-Swash.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Retroscape';
    src: url('fonts/retroscape/Retroscape.woff2') format('woff2'),
        url('fonts/retroscape/Retroscape.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roman SD';
    src: url('fonts/roman/RomanSD.woff2') format('woff2'),
        url('fonts/roman/RomanSD.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.gondola-test {
    font-family: 'Gondola SD - Swash';
}

.roman-test {
    font-family: 'Roman SD';
}

.retroscape-test {
    font-family: 'Retroscape';
}


.bigger {
    font-size: 1.5rem;
}
.smaller {
    font-size: 0.667rem;
}

div {
    padding: 1rem;
}
/* just testing the waters */