*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 24px;
    background-color: rgb(175, 221, 211);
}

/* font test will delete */

.bigger {
    font-size: 1.5rem;
}
.smaller {
    font-size: 0.667rem;
}
/* just testing the waters */